// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#flash_notice {
	background-color: green;
	border: 1px solid lighten(green, 40%);
	text-align: center;
    padding: 5px;
    color: white;
}